@import url(https://fonts.googleapis.com/css?family=Gilda+Display:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Gilda Display', serif;
  font-size: 4.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.2rem;
}
.display-2 {
  font-family: 'Gilda Display', serif;
  font-size: 3.5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Gilda Display', serif;
  font-size: 1.9rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.04rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.44rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.52rem;
    font-size: calc( 1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #c64935 !important;
}
.bg-success {
  background-color: #92bda3 !important;
}
.bg-info {
  background-color: #709faf !important;
}
.bg-warning {
  background-color: #b7b6b6 !important;
}
.bg-danger {
  background-color: #e26c5a !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #c64935 !important;
  border-color: #c64935 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #8a3325 !important;
  border-color: #8a3325 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #8a3325 !important;
  border-color: #8a3325 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #709faf !important;
  border-color: #709faf !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #4c7887 !important;
  border-color: #4c7887 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4c7887 !important;
  border-color: #4c7887 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #62a07b !important;
  border-color: #62a07b !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #62a07b !important;
  border-color: #62a07b !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #918f8f !important;
  border-color: #918f8f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #918f8f !important;
  border-color: #918f8f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none !important;
  border-color: #762b1f !important;
  color: #762b1f !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #c64935 !important;
  border-color: #c64935 !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c64935 !important;
  border-color: #c64935 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none !important;
  border-color: #426977 !important;
  color: #426977 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #709faf !important;
  border-color: #709faf !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #709faf !important;
  border-color: #709faf !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none !important;
  border-color: #58916f !important;
  color: #58916f !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none !important;
  border-color: #848383 !important;
  color: #848383 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none !important;
  border-color: #b63420 !important;
  color: #b63420 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #c64935 !important;
}
.text-secondary {
  color: #333333 !important;
}
.text-success {
  color: #92bda3 !important;
}
.text-info {
  color: #709faf !important;
}
.text-warning {
  color: #b7b6b6 !important;
}
.text-danger {
  color: #e26c5a !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #762b1f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #58916f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #426977 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #848383 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b63420 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #709faf;
}
.alert-warning {
  background-color: #b7b6b6;
}
.alert-danger {
  background-color: #e26c5a;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #c64935;
  border-color: #c64935;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #c64935;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e3a297;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e1ede6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c2d6dd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f6f6f6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.44rem;
}
blockquote {
  border-color: #c64935;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form1 .input-group-btn a.btn {
  border-radius: 0 !important;
}
.form1 .input-group-btn button[type="submit"] {
  border-radius: 0 !important;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c64935;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c64935;
}
.up-z-index {
  z-index: 1000 !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #c64935;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #c64935;
  border-bottom-color: #c64935;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #c64935 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #333333 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23c64935' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rzMgGd484C {
  z-index: 1;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rzMgGd484C .mbr-arrow {
  background: #000000 !important;
  opacity: .7;
}
.cid-rzMgGd484C .mbr-arrow i {
  color: #ffffff !important;
}
.cid-rzMgGd484C .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-rzMgGd484C .input-wrap {
  background: #fcfcfc;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form {
  width: 100%;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap input {
  border: none;
  position: absolute;
  background: transparent;
  z-index: 2;
  left: -90px;
  top: 25%;
  height: 50%;
  width: calc(100% + 90px);
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap input.guests-input {
  z-index: 0;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: transparent;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap input::-moz-placeholder {
  color: transparent;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap input:-moz-placeholder {
  color: transparent;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap input:-ms-input-placeholder {
  color: transparent;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap .label {
  z-index: 1;
  color: #000000;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap .date-row {
  display: inline-flex;
  color: #000000;
  z-index: 1;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap .date-row .day,
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap .date-row .guests-count {
  margin-bottom: 0;
  margin-right: 1rem;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap .date-row .date-col {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .input-wrap .date-row .date-col span:first-child {
  margin-bottom: 1rem;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .mbr-section-btn {
  width: 100%;
  display: flex;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn {
  display: flex;
}
.cid-rzMgGd484C .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
  height: 100%;
  line-height: 18px;
  margin: 0;
  font-weight: 300;
}
.cid-rzMgGd484C .datepicker {
  background-color: #ffffff;
  color: #000000;
}
.cid-rzMgGd484C .datepicker .active.day {
  background-color: #2b6477 !important;
  color: #ffffff !important;
}
.cid-rzMgGd484C .datepicker:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rzMgGd484C .email input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 15px;
}
.cid-rzMgGd484C .email input::-webkit-input-placeholder {
  font-weight: 200;
}
.cid-rzMgGd484C .check-in-input,
.cid-rzMgGd484C .check-out-input,
.cid-rzMgGd484C .guests .date-col span {
  cursor: pointer;
}
@media (min-width: 768px) {
  .cid-rzMgGd484C .booking-datepicker input:not(.guests-input):not([name="email"]) {
    border-right: 1px solid #cccccc !important;
  }
}
@media (max-width: 767px) {
  .cid-rzMgGd484C .booking-datepicker .mbr-form .mbr-section-btn {
    justify-content: center;
    padding: 0.5rem 0 0 0;
    margin: 0;
    order: 1;
  }
  .cid-rzMgGd484C .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn {
    width: 100%;
  }
  .cid-rzMgGd484C .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
    width: 100%;
    padding: 1rem;
  }
  .cid-rzMgGd484C .input-wrap {
    margin-bottom: 0.5rem;
  }
  .cid-rzMgGd484C .email input {
    border-radius: 0;
  }
}
@media (max-width: 575px) {
  .cid-rzMgGd484C .datepicker {
    left: 10% !important;
  }
}
.cid-rzMgJD6sEt {
  background-color: #000000;
}
.cid-rzMgJD6sEt .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-rzMgJD6sEt .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-rzMgJD6sEt .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzMgJD6sEt .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 1200px) {
  .cid-rzMgJD6sEt .image-element {
    padding-left: 0;
  }
}
.cid-rzMgJD6sEt .text-element {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 2rem;
}
.cid-rzMgJD6sEt .mbr-text {
  color: #878787;
  line-height: 27px;
}
.cid-rzMgJD6sEt .brown {
  color: #c19b76;
}
.cid-rzMgJD6sEt .paragraphs-wrapper {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzMgJD6sEt .paragraphs-wrapper .first-paragraph,
.cid-rzMgJD6sEt .paragraphs-wrapper .second-paragraph {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-rzMgJD6sEt .image-element {
    padding-top: 1rem;
  }
  .cid-rzMgJD6sEt .paragraphs-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rzMgJD6sEt .paragraphs-wrapper .first-paragraph,
  .cid-rzMgJD6sEt .paragraphs-wrapper .second-paragraph {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .cid-rzMgJD6sEt .first-paragraph,
  .cid-rzMgJD6sEt .second-paragraph {
    width: 50%;
  }
  .cid-rzMgJD6sEt .first-paragraph {
    padding-right: .5rem;
  }
  .cid-rzMgJD6sEt .second-paragraph {
    padding-left: .5rem;
  }
  .cid-rzMgJD6sEt .text-element {
    padding: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-rzMgJD6sEt .mbr-section-title,
  .cid-rzMgJD6sEt .mbr-section-btn {
    text-align: left;
  }
}
.cid-rzMgL0Khyt {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-rzMgL0Khyt .card .card-img {
  overflow: hidden;
  border-radius: 0;
}
.cid-rzMgL0Khyt .card .card-img img {
  transition: all .5s;
}
.cid-rzMgL0Khyt .card .card-img:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-rzMgL0Khyt .media-container-column {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 0;
  flex-wrap: nowrap;
}
.cid-rzMgL0Khyt .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-rzMgL0Khyt .first-card {
  display: block;
}
.cid-rzMgL0Khyt .first-card .card-wrapper {
  height: 100%;
}
.cid-rzMgL0Khyt .first-card .card-box {
  background: #ffffff;
  padding: 2rem;
}
.cid-rzMgL0Khyt .first-card .info-wrapper {
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzMgL0Khyt .first-card .info-wrapper .mbr-iconfont {
  padding-right: .5rem;
  font-size: 20px;
}
.cid-rzMgL0Khyt .first-card .info-wrapper .info-text {
  display: inline-block;
  padding-right: 1rem;
  margin: 0;
}
.cid-rzMgL0Khyt .first-card .card-btn .btn {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.cid-rzMgL0Khyt .first-row,
.cid-rzMgL0Khyt .second-row {
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  margin: 0;
}
.cid-rzMgL0Khyt .first-row .card .card-wrapper,
.cid-rzMgL0Khyt .second-row .card .card-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex: 1;
}
.cid-rzMgL0Khyt .first-row .card .card-wrapper .card-img,
.cid-rzMgL0Khyt .second-row .card .card-wrapper .card-img {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
}
.cid-rzMgL0Khyt .first-row .card .card-wrapper .card-img img,
.cid-rzMgL0Khyt .second-row .card .card-wrapper .card-img img {
  min-height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (max-width: 767px) {
  .cid-rzMgL0Khyt .first-row,
  .cid-rzMgL0Khyt .second-row {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rzMgL0Khyt .first-row .card .card-wrapper .card-img,
  .cid-rzMgL0Khyt .second-row .card .card-wrapper .card-img {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rzMgL0Khyt .first-row .card .card-wrapper .card-img img,
  .cid-rzMgL0Khyt .second-row .card .card-wrapper .card-img img {
    min-height: 0;
  }
}
.cid-rzMgL0Khyt .first-row .caption,
.cid-rzMgL0Khyt .second-row .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  letter-spacing: 2px;
}
.cid-rzMgL0Khyt .first-row .caption .price,
.cid-rzMgL0Khyt .second-row .caption .price {
  background: #c19b76;
  padding: 0 .5rem;
}
.cid-rzMgL0Khyt .first-row {
  padding-bottom: 1rem;
}
.cid-rzMgL0Khyt .second-row {
  padding-top: 1rem;
}
@media (max-width: 767px) {
  .cid-rzMgL0Khyt .first-card,
  .cid-rzMgL0Khyt .first-child {
    padding-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-rzMgL0Khyt .first-card {
    padding-bottom: 2rem;
  }
  .cid-rzMgL0Khyt .only-first-row {
    height: 100%;
  }
}
.cid-rzMgO1SNCd {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-rzMgO1SNCd .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-rzMgO1SNCd .table {
  margin-bottom: 0;
}
.cid-rzMgO1SNCd .table .table-wrapper {
  padding: 2rem;
  background: #ffffff;
  position: relative;
}
.cid-rzMgO1SNCd .table .table-wrapper .table-head-wrapper {
  background: #c19b76;
  margin: -2rem;
  margin-bottom: 0 !important;
  padding: 2rem;
  padding-bottom: 0 !important;
}
.cid-rzMgO1SNCd .table .table-wrapper .table-head-wrapper span {
  width: 100%;
  display: block;
}
.cid-rzMgO1SNCd .table .table-wrapper .table-purchase {
  padding-bottom: 2rem;
}
.cid-rzMgO1SNCd .table .table-wrapper .table-purchase .table-pricing {
  margin: 0;
  margin-top: .5rem !important;
}
.cid-rzMgO1SNCd .table .table-wrapper .list-group {
  list-style: none;
  padding-top: 2rem;
}
.cid-rzMgO1SNCd .table .table-wrapper .list-group li {
  padding: .4rem;
  border-bottom: 1px solid #efefef;
}
.cid-rzMgO1SNCd .table .table-wrapper .list-group li .mbr-iconfont {
  font-size: 30px;
}
@media (max-width: 767px) {
  .cid-rzMgO1SNCd .table:not(.last-table) {
    margin-bottom: 1rem;
  }
  .cid-rzMgO1SNCd .table-heading {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-rzMgO1SNCd .table.first-row-table {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-rzMgO1SNCd .table {
    margin-bottom: 0;
  }
}
.cid-rzMgTEX4qU {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rzMgTEX4qU .wrapper {
  overflow: hidden;
}
.cid-rzMgTEX4qU .wrapper img {
  transition: all .5s;
}
.cid-rzMgTEX4qU .wrapper:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-rzMgTEX4qU .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-rzMgTEX4qU .wrapper {
  position: relative;
  padding: 2rem;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  height: 25rem;
}
.cid-rzMgTEX4qU .wrapper .mbr-overlay {
  background: #000000;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none;
}
.cid-rzMgTEX4qU .wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-rzMgTEX4qU .wrapper .content-block {
  position: relative;
  width: 100%;
  z-index: 1;
}
@media (max-width: 991px) {
  .cid-rzMgTEX4qU .first-row-card {
    padding-bottom: 2rem;
  }
}
.cid-rzMgWDmsMu {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-rzMgWDmsMu .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-rzMgWDmsMu .testimonials-container {
  margin: 0 auto;
}
.cid-rzMgWDmsMu .testimonials-container .testimonials-item:not(:first-child) {
  margin-top: 3rem;
}
.cid-rzMgWDmsMu .testimonials-container .testimonials-item:nth-child(2n) .user.row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (min-width: 768px) {
  .cid-rzMgWDmsMu .testimonials-container .testimonials-item:nth-child(2n) .user.row .testimonials-caption {
    text-align: right;
    padding: 2rem 0 2rem 2rem;
  }
}
.cid-rzMgWDmsMu .testimonials-container .testimonials-item .user {
  background: #c19b76;
}
.cid-rzMgWDmsMu .testimonials-container .testimonials-item .user.row {
  margin: 0;
}
.cid-rzMgWDmsMu .testimonials-container .testimonials-item .user .user_image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 2rem auto;
  border-radius: 50%;
}
.cid-rzMgWDmsMu .testimonials-container .testimonials-item .user .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-rzMgWDmsMu .testimonials-container .testimonials-item .user .testimonials-caption {
  padding: 2rem;
  padding: 2rem 2rem 2rem 0;
}
@media (max-width: 260px) {
  .cid-rzMgWDmsMu .user_image {
    width: 100% !important;
    height: auto !important;
  }
}
@media (max-width: 767px) {
  .cid-rzMgWDmsMu .testimonials-caption {
    padding: 0 2rem 2rem 2rem !important;
  }
}
.cid-rzMh4wFu1L {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rzMh4wFu1L .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-rzMh4wFu1L .mbr-text {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-rzMh4wFu1L .title {
    width: 100% !important;
  }
}
.cid-rzMgZGPH0E {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rzMgZGPH0E .google-map {
  width: 100%;
  height: 25rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-rzMgZGPH0E .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-rzMi9GHrgW {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-rzMi9GHrgW {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-sfcj34HaE8 {
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-sfcj34HaE8 .mbr-arrow {
  background: #000000 !important;
  opacity: 0.7;
}
.cid-sfcj34HaE8 .mbr-arrow i {
  color: #ffffff !important;
}
.cid-sfcj34HaE8 .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-sfcj34HaE8 .animated-element,
.cid-sfcj34HaE8 .typed-cursor {
  color: #ffffff;
}
.cid-sfcj34HaE8 .animated-element {
  border-bottom: 5px solid #c19b76;
}
@media (max-width: 767px) {
  .cid-sfcj34HaE8 .typed-text {
    text-align: center;
  }
}
.cid-sfcj5we1Zy {
  background-color: #000000;
}
.cid-sfcj5we1Zy .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-sfcj5we1Zy .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-sfcj5we1Zy .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sfcj5we1Zy .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 1200px) {
  .cid-sfcj5we1Zy .image-element {
    padding-left: 0;
  }
}
.cid-sfcj5we1Zy .text-element {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 2rem;
}
.cid-sfcj5we1Zy .mbr-text {
  color: #878787;
  line-height: 27px;
}
.cid-sfcj5we1Zy .brown {
  color: #c19b76;
}
.cid-sfcj5we1Zy .paragraphs-wrapper {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sfcj5we1Zy .paragraphs-wrapper .first-paragraph,
.cid-sfcj5we1Zy .paragraphs-wrapper .second-paragraph {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-sfcj5we1Zy .image-element {
    padding-top: 1rem;
  }
  .cid-sfcj5we1Zy .paragraphs-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-sfcj5we1Zy .paragraphs-wrapper .first-paragraph,
  .cid-sfcj5we1Zy .paragraphs-wrapper .second-paragraph {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .cid-sfcj5we1Zy .first-paragraph,
  .cid-sfcj5we1Zy .second-paragraph {
    width: 50%;
  }
  .cid-sfcj5we1Zy .first-paragraph {
    padding-right: 0.5rem;
  }
  .cid-sfcj5we1Zy .second-paragraph {
    padding-left: 0.5rem;
  }
  .cid-sfcj5we1Zy .text-element {
    padding: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-sfcj5we1Zy .mbr-section-title,
  .cid-sfcj5we1Zy .mbr-section-btn {
    text-align: left;
  }
}
.cid-sfcj70JHcL {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-sfcj70JHcL .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-sfcj70JHcL .card-img {
  overflow: hidden;
  border-radius: 0 !important;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.cid-sfcj70JHcL .card-img img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-sfcj70JHcL .card-box {
  background: #ffffff;
  padding: 2rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-sfcj70JHcL .link {
  letter-spacing: 2px;
}
.cid-sfcj70JHcL .card.second-card {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@media (max-width: 991px) {
  .cid-sfcj70JHcL .card {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sfcj70JHcL .card {
    padding-bottom: 2rem;
  }
}
.cid-sfcjbxQ35c {
  padding-top: 75px;
  padding-bottom: 75px;
  z-index: 1;
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-sfcjbxQ35c .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-sfcjbxQ35c .mbr-text {
  margin: 0;
}
.cid-sfcjbxQ35c .check-in-input,
.cid-sfcjbxQ35c .check-out-input,
.cid-sfcjbxQ35c .guests .date-col span {
  cursor: pointer;
}
.cid-sfcjbxQ35c .input-wrap {
  background: #fcfcfc;
}
.cid-sfcjbxQ35c .booking-datepicker {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap input {
  border: none;
  border-radius: 0;
  position: absolute;
  background: transparent;
  z-index: 2;
  left: -90px;
  top: 25%;
  height: 50%;
  width: calc(100% + 90px);
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap input.guests-input {
  z-index: 0;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: transparent;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap input::-moz-placeholder {
  color: transparent;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap input:-moz-placeholder {
  color: transparent;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap input:-ms-input-placeholder {
  color: transparent;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap input:focus {
  box-shadow: none;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap .label {
  z-index: 1;
  color: #000000;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap .date-row {
  display: inline-flex;
  color: #000000;
  z-index: 1;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap .date-row .day,
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap .date-row .guests-count {
  margin-bottom: 0;
  margin-right: 1rem;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap .date-row .date-col {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .input-wrap .date-row .date-col span:first-child {
  margin-bottom: 1rem;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .mbr-section-btn {
  display: flex;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn {
  display: flex;
  width: 100%;
}
.cid-sfcjbxQ35c .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
  width: 100%;
  margin: 0;
  line-height: 18px;
  font-weight: 300;
}
.cid-sfcjbxQ35c .email input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 15px;
}
.cid-sfcjbxQ35c .email input::-webkit-input-placeholder {
  font-weight: 200;
}
.cid-sfcjbxQ35c .datepicker {
  background-color: #ffffff;
  color: #000000;
}
.cid-sfcjbxQ35c .datepicker .active.day {
  background-color: #2b6477 !important;
  color: #ffffff !important;
}
.cid-sfcjbxQ35c .datepicker:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sfcjbxQ35c .mbr-section-btn {
    justify-content: center;
    padding: 0.5rem 0 0 0;
    margin: 0;
    order: 1;
  }
  .cid-sfcjbxQ35c .mbr-section-btn .input-group-btn {
    width: 100%;
  }
  .cid-sfcjbxQ35c .mbr-section-btn .input-group-btn .btn {
    width: 100%;
    padding: 1rem;
  }
  .cid-sfcjbxQ35c .input-wrap {
    margin-bottom: 0.5rem;
  }
  .cid-sfcjbxQ35c .email input {
    border-radius: 0;
  }
}
@media (min-width: 768px) {
  .cid-sfcjbxQ35c .booking-datepicker input:not(.guests-input):not([name='email']) {
    border-right: 1px solid #cccccc !important;
  }
}
@media (max-width: 991px) {
  .cid-sfcjbxQ35c .media-container-column {
    text-align: center;
  }
  .cid-sfcjbxQ35c .booking-datepicker {
    padding-top: 2rem;
  }
}
@media (max-width: 575px) {
  .cid-sfcjbxQ35c .datepicker {
    left: 10% !important;
  }
}
.cid-sfcjdwMaJA {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/background11.jpg");
}
.cid-sfcjdwMaJA .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-sfcjdwMaJA .form-group {
  margin-bottom: 1rem;
}
.cid-sfcjdwMaJA .form-control {
  border: none;
  border-radius: 0;
  padding: 0.5rem 1rem;
  background: #efefef;
  color: #000000;
  width: 100%;
}
.cid-sfcjdwMaJA textarea.form-control {
  min-height: 96px;
}
.cid-sfcjdwMaJA .input-group-btn {
  width: 100%;
}
.cid-sfcjdwMaJA .input-group-btn .btn {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.cid-sfcjdwMaJA .form-control-label {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 100 !important;
}
.cid-sfcjdwMaJA .google-map {
  width: 100%;
  height: 25rem;
}
.cid-sfcjdwMaJA .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-sfcjdwMaJA .info-row ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.cid-sfcjdwMaJA .info-row ol li {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding: 10px;
}
.cid-sfcjdwMaJA .info-value {
  color: #efefef;
}
@media (max-width: 991px), (max-width: 767px) {
  .cid-sfcjdwMaJA .form-wrapper {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sfcjdwMaJA .form-subtitle {
    text-align: center;
  }
}
.cid-sfci1lbdbF {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-sfci1lbdbF .card .card-img {
  overflow: hidden;
  border-radius: 0;
}
.cid-sfci1lbdbF .card .card-img img {
  transition: all 0.5s;
}
.cid-sfci1lbdbF .card .card-img:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-sfci1lbdbF .media-container-column {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 0;
  flex-wrap: nowrap;
}
.cid-sfci1lbdbF .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-sfci1lbdbF .first-card {
  display: block;
}
.cid-sfci1lbdbF .first-card .card-wrapper {
  height: 100%;
}
.cid-sfci1lbdbF .first-card .card-box {
  background: #ffffff;
  padding: 2rem;
}
.cid-sfci1lbdbF .first-card .info-wrapper {
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sfci1lbdbF .first-card .info-wrapper .mbr-iconfont {
  padding-right: 0.5rem;
  font-size: 20px;
}
.cid-sfci1lbdbF .first-card .info-wrapper .info-text {
  display: inline-block;
  padding-right: 1rem;
  margin: 0;
}
.cid-sfci1lbdbF .first-card .card-btn .btn {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.cid-sfci1lbdbF .first-row,
.cid-sfci1lbdbF .second-row {
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  margin: 0;
}
.cid-sfci1lbdbF .first-row .card .card-wrapper,
.cid-sfci1lbdbF .second-row .card .card-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex: 1;
}
.cid-sfci1lbdbF .first-row .card .card-wrapper .card-img,
.cid-sfci1lbdbF .second-row .card .card-wrapper .card-img {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
}
.cid-sfci1lbdbF .first-row .card .card-wrapper .card-img img,
.cid-sfci1lbdbF .second-row .card .card-wrapper .card-img img {
  min-height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (max-width: 767px) {
  .cid-sfci1lbdbF .first-row,
  .cid-sfci1lbdbF .second-row {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-sfci1lbdbF .first-row .card .card-wrapper .card-img,
  .cid-sfci1lbdbF .second-row .card .card-wrapper .card-img {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-sfci1lbdbF .first-row .card .card-wrapper .card-img img,
  .cid-sfci1lbdbF .second-row .card .card-wrapper .card-img img {
    min-height: 0;
  }
}
.cid-sfci1lbdbF .first-row .caption,
.cid-sfci1lbdbF .second-row .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  letter-spacing: 2px;
}
.cid-sfci1lbdbF .first-row .caption .price,
.cid-sfci1lbdbF .second-row .caption .price {
  background: #c19b76;
  padding: 0 0.5rem;
}
.cid-sfci1lbdbF .first-row {
  padding-bottom: 1rem;
}
.cid-sfci1lbdbF .second-row {
  padding-top: 1rem;
}
@media (max-width: 767px) {
  .cid-sfci1lbdbF .first-card,
  .cid-sfci1lbdbF .first-child {
    padding-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sfci1lbdbF .first-card {
    padding-bottom: 2rem;
  }
  .cid-sfci1lbdbF .only-first-row {
    height: 100%;
  }
}
.cid-sfcie9t9yl {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/background11.jpg");
}
.cid-sfcie9t9yl .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-sfcie9t9yl .form-group {
  margin-bottom: 1rem;
}
.cid-sfcie9t9yl .form-control {
  border: none;
  border-radius: 0;
  padding: 0.5rem 1rem;
  background: #efefef;
  color: #000000;
  width: 100%;
}
.cid-sfcie9t9yl textarea.form-control {
  min-height: 96px;
}
.cid-sfcie9t9yl .input-group-btn {
  width: 100%;
}
.cid-sfcie9t9yl .input-group-btn .btn {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.cid-sfcie9t9yl .form-control-label {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 100 !important;
}
.cid-sfcie9t9yl .google-map {
  width: 100%;
  height: 25rem;
}
.cid-sfcie9t9yl .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-sfcie9t9yl .info-row ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.cid-sfcie9t9yl .info-row ol li {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding: 10px;
}
.cid-sfcie9t9yl .info-value {
  color: #efefef;
}
@media (max-width: 991px), (max-width: 767px) {
  .cid-sfcie9t9yl .form-wrapper {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sfcie9t9yl .form-subtitle {
    text-align: center;
  }
}
.cid-sfcpdXgntf {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/01.jpg");
}
.cid-sfcpdXgntf .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-sfcpdXgntf .form-head {
  background: #a3c6d2;
  padding: 2rem;
}
.cid-sfcpdXgntf .form1 {
  background: #487f91;
  padding: 2rem;
}
.cid-sfcpdXgntf .form-group {
  margin-bottom: 1rem;
}
.cid-sfcpdXgntf .form-control {
  border: none;
  border-radius: 0;
  padding: 0.5rem 1rem;
  background: #c0d9ca;
  color: #9f2b19;
  width: 100%;
}
.cid-sfcpdXgntf textarea.form-control {
  min-height: 96px;
}
.cid-sfcpdXgntf .input-group-btn {
  width: 100%;
}
.cid-sfcpdXgntf .input-group-btn .btn {
  display: block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
}
.cid-sfcpdXgntf .form-control-label {
  color: #fcfcfc;
  font-size: 1rem;
  font-weight: 100 !important;
}
@media (max-width: 767px) {
  .cid-sfcpdXgntf .form1 {
    padding: 1.5rem;
  }
}
.cid-sfcpdXgntf LABEL {
  color: #efefef;
}
.cid-sfcvdJwz8b {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sfcvdJwz8b .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-sfcvdJwz8b .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-sfcvdJwz8b .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 0;
}
.cid-sfcvdJwz8b .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (max-width: 991px) {
  .cid-sfcvdJwz8b .image-element {
    padding-right: 0;
  }
}
.cid-sfcvdJwz8b .text-element {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sfcvdJwz8b .mbr-section-subtitle,
.cid-sfcvdJwz8b .mbr-text {
  color: #878787;
}
.cid-sfcvdJwz8b .mbr-text {
  line-height: 27px;
  padding: 2.5rem;
  margin: 0;
}
@media (max-width: 991px) {
  .cid-sfcvdJwz8b .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-sfcvdJwz8b .text-element {
    padding-top: 0;
  }
}
.cid-sfiFBtGDpb {
  padding-top: 135px;
  padding-bottom: 135px;
  background-color: #efefef;
}
.cid-sfiFBtGDpb .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-sfiFBtGDpb .row {
  background-color: #efefef;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-sfiFBtGDpb .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
}
.cid-sfiFBtGDpb .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-sfiFBtGDpb .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-sfiFBtGDpb .text-element {
  padding: 4rem 1rem;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sfiFBtGDpb .text-element .mbr-text {
  padding: 3rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-sfiFBtGDpb .image-element {
    padding: 0 15px;
  }
  .cid-sfiFBtGDpb .text-element {
    padding: 2rem 1rem;
  }
  .cid-sfiFBtGDpb .text-element .mbr-text {
    padding: 1rem;
  }
  .cid-sfiFBtGDpb .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.cid-sfiGbxUen6 {
  padding-top: 135px;
  padding-bottom: 135px;
  background-color: #ff9a8a;
}
.cid-sfiGbxUen6 .row {
  background-color: #ffffff;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-sfiGbxUen6 .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
}
.cid-sfiGbxUen6 .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-sfiGbxUen6 .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-sfiGbxUen6 .text-element {
  padding: 4rem 1rem;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sfiGbxUen6 .text-element .mbr-text {
  padding: 3rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-sfiGbxUen6 .image-element {
    padding: 0 15px;
  }
  .cid-sfiGbxUen6 .text-element {
    padding: 2rem 1rem;
  }
  .cid-sfiGbxUen6 .text-element .mbr-text {
    padding: 1rem;
  }
  .cid-sfiGbxUen6 .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.cid-sfiIAYiK6x {
  padding-top: 135px;
  padding-bottom: 135px;
  background-color: #ffffff;
}
.cid-sfiIAYiK6x .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-sfiIAYiK6x .row {
  background-color: #ffffff;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-sfiIAYiK6x .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
}
.cid-sfiIAYiK6x .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-sfiIAYiK6x .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-sfiIAYiK6x .text-element {
  padding: 4rem 1rem;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sfiIAYiK6x .text-element .mbr-text {
  padding: 3rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-sfiIAYiK6x .image-element {
    padding: 0 15px;
  }
  .cid-sfiIAYiK6x .text-element {
    padding: 2rem 1rem;
  }
  .cid-sfiIAYiK6x .text-element .mbr-text {
    padding: 1rem;
  }
  .cid-sfiIAYiK6x .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
